<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <!-- file upload link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/55bd3bbc70.js"
      crossorigin="anonymous"
    ></script>
    <!-- custom css -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/sidebar.css" />
    <title>Yasuke Agency</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="">
          <img src="assets/img/Dream-crowd-Logo.png" />
        </i>
        <span class="logo_name">DREAMCROWD</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="dashboard.html">
            <i class="bx bx-stats" title="Statistics"></i>
            <span class="link_name">Statistics</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="dashboard.html">Dashboard</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-user icon" title="Customize Site"></i>
              <span class="link_name">Customize Site</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Customize Site</a></li>
            <li><a href="siteidentity.html">Site Identity</a></li>
            <li><a href="home.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="aboutus.html">About us</a></li>
            <li><a href="faqs.html">FAQ’s</a></li>
            <li><a href="contactus.html">Contact us</a></li>
            <li><a href="apply-now-form.html">Apply Now Form</a></li>
            <li><a href="thankyou.html">Thank You</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="requests.html">
              <i class="bx bx-laptop" title="Requests"></i>
              <span class="link_name">Requests</span>
            </a>
          </div>
        </li>
        <!-- <li> -->
        <li>
          <a href="messages.html">
            <i class="bx bxs-message-dots" title="Messages"></i>
            <span class="link_name">Messages</span>
          </a>
        </li>
      </ul>
      <div class="bottom-links">
        <ul class="nav-links">
          <li class="active">
            <a href="settings.html">
              <i class="bx bx-cog icon" title="Setting"></i>
              <span class="link_name">Setting</span>
            </a>
          </li>
          <li data-bs-toggle="modal" data-bs-target="#logoutmodal">
            <a href="#">
              <i class="bx bx-log-out icon" title="Logout"></i>
              <span class="link_name">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <section class="home-section">
      <div class="container-fluid">
        <div class="row">
          <div class="home-content fixed-top">
            <div class="col-md-8" style="padding: 0px 12px; display: flex">
              <i class="bx bx-menu"></i>
              <i class="nav-dash-logo">
                <img src="assets/img/logo.png" />
              </i>
            </div>
            <div class="col-md-4" style="padding: 0px 12px">
              <div class="nav-profile">
                <a href="messages.html"><i class="bx bx-envelope"></i></a>
                <a href="viewapplication.html" class="d-flex">
                  <img src="assets/img/profile-img.png" alt="" />
                  <h1>Sebastian</h1>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- =============================== MAIN CONTENT START HERE =========================== -->
      <div class="container-fluid major-dash-sec">
        <!-- breadcrumb section start from here -->
        <div class="row dash-notification">
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-12">
                <div class="dash-top">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page">
                        Dashboard
                      </li>
                      <li class="breadcrumb-item stat">
                        <a href="#">Setting</a>
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        <!-- breadcrumb section ended from here -->

        <!-- settings section start from here -->
        <div class="row">
          <div class="col-md-11 setting-sec">
            <h2>Setting</h2>
          </div>
          <div class="col-md-1"></div>
        </div>
        <!-- settings section ended from here -->

        <!-- visitor section start from here -->
        <div class="row">
          <div class="col-md-11 visitor-sec info-sect">
            <div class="visit-sect">
              <h2>Personal Information</h2>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        <!-- visitor section ended from here -->

        <!-- request table section start from here -->
        <div class="row">
          <div class="col-md-11 p-0">
            <div
              class="form-section conditions msg-content-sec setting-sect"
              id="divMsg"
            >
              <!-- Upload End -->
              <div class="row">
                <div class="col-md-6 identity" id="upload-image">
                  <label for="">Site Logo</label>
                  <div
                    class="input-file-wrapper transition-linear-3 position-relative"
                  >
                    <span
                      class="remove-img-btn position-absolute"
                      @click="reset('post-thumbnail')"
                      v-if="preview!==null"
                    >
                      Remove
                    </span>
                    <label
                      class="input-style input-label lh-1-7 p-3 text-center cursor-pointer"
                      for="post-thumbnail"
                    >
                      <span v-show="preview===null">
                        <i class="fa-solid fa-cloud-arrow-up pt-3"></i>
                        <span class="d-block">Upload Image</span>
                        <p>
                          Click to upload image, or drag & drop files here
                          (png/jpeg)
                        </p>
                      </span>
                      <template v-if="preview">
                        <img :src="preview" class="img-fluid mt-2" />
                      </template>
                    </label>
                    <input
                      type="file"
                      accept="image/*"
                      @change="previewImage('post-thumbnail')"
                      class="input-file"
                      id="post-thumbnail"
                    />
                  </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <label for="">First Name</label>
                  <input
                    type="text"
                    class="form-control mb-0"
                    placeholder="write something...."
                  />
                </div>
                <div class="col-md-6">
                  <label for="">Last Name</label>
                  <input
                    type="text"
                    class="form-control mb-0"
                    placeholder="write something...."
                  />
                </div>
              </div>
              <!-- Upload End -->
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        <!-- request table section ended from here -->

        <!-- security section start from here -->
        <div class="row">
          <div class="col-md-11 visitor-sec security-sec">
            <div class="row">
              <div class="col-md-5 visit-sect">
                <h2>Security</h2>
              </div>
              <div class="col-md-7">
                <div class="visitor-search-sec">
                  <div
                    class="search-sec"
                    data-bs-toggle="modal"
                    data-bs-target="#changepassword"
                  >
                    <p>Change Password</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        <!-- security section ended from here -->

        <!-- request table section start from here -->
        <div class="row">
          <div class="col-md-11">
            <div class="row msg-content-sec setting-sect">
              <div class="col-md-6">
                <label for="">Email</label>
                <input
                  type="email"
                  class="form-control mb-0"
                  placeholder="dominaeva@proton.me"
                />
              </div>
              <div class="col-md-6">
                <!-- Password input -->
                <div
                  data-mdb-input-init
                  class="form-outline"
                  style="position: relative"
                >
                  <label class="form-label" for="change-password"
                    >Password</label
                  >
                  <input
                    id="change-password"
                    type="password"
                    class="form-control input-sec pass-sec"
                    name="change_password"
                    placeholder="*******************"
                    style="padding-right: 40px"
                  />
                  <span
                    toggle="#change-password"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                    style="
                      position: absolute;
                      top: 70%;
                      right: 15px;
                      transform: translateY(-50%);
                      cursor: pointer;
                      font-size: 18px;
                      color: #6c757d;
                    "
                  ></span>
                </div>
              </div>
            </div>
            <!-- Upload End -->
          </div>
          <div class="col-md-1"></div>
        </div>
        <!-- request table section ended from here -->
      </div>
      <!-- =============================== MAIN CONTENT END HERE =========================== -->
      <!-- copyright section start from here -->
      <div class="copyright">
        <p>Copyright Dreamcrowd © 2021. All Rights Reserved.</p>
      </div>
      <!-- copyright section ended from here -->
    </section>

    <!-- change password Modal -->
    <div
      class="modal fade"
      id="changepassword"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content msg-content-sec">
          <div class="modal-body p-0">
            <form action="">
              <div class="row">
                <div class="col-md-6">
                  <label for="">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="example@company.com"
                  />
                </div>
                <div class="col-md-6">
                  <!-- Password input -->
                  <div
                    data-mdb-input-init
                    class="form-outline"
                    style="position: relative"
                  >
                    <label class="form-label" for="old-password"
                      >Password</label
                    >
                    <input
                      id="old-password"
                      type="password"
                      class="form-control input-sec pass-sec"
                      name="old_password"
                      placeholder="**********"
                      style="padding-right: 40px"
                    />
                    <span
                      toggle="#old-password"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                      style="
                        position: absolute;
                        top: 72%;
                        right: 15px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        font-size: 18px;
                        color: #6c757d;
                      "
                    ></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- Password input -->
                  <div
                    data-mdb-input-init
                    class="form-outline"
                    style="position: relative"
                  >
                    <label class="form-label" for="new-password"
                      >New Password</label
                    >
                    <input
                      id="new-password"
                      type="password"
                      class="form-control input-sec pass-sec mb-0"
                      name="new_password"
                      placeholder="**********"
                      style="padding-right: 40px"
                    />
                    <span
                      toggle="#new-password"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                      style="
                        position: absolute;
                        top: 72%;
                        right: 15px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        font-size: 18px;
                        color: #6c757d;
                      "
                    ></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- Password input -->
                  <div
                    data-mdb-input-init
                    class="form-outline"
                    style="position: relative"
                  >
                    <label class="form-label" for="confirmed-password"
                      >Confirm Password</label
                    >
                    <input
                      id="confirmed-password"
                      type="password"
                      class="form-control input-sec pass-sec mb-0"
                      name="confirmed_password"
                      placeholder="**********"
                      style="padding-right: 40px"
                    />
                    <span
                      toggle="#confirmed-password"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                      style="
                        position: absolute;
                        top: 72%;
                        right: 15px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        font-size: 18px;
                        color: #6c757d;
                      "
                    ></span>
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-md-12">
                <div class="modal-btns-sec">
                  <button class="btn read-btn upd-btn">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- logout modal -->
    <div
      class="modal fade"
      id="logoutmodal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content msg-content-sec">
          <div class="modal-body p-0">
            <h2>Are you sure you want to logout?</h2>
            <div class="row">
              <div class="col-md-12 logout-btns-sec">
                <div class="modal-btns-sec">
                  <button
                    class="btn reply-btn"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    No, Cancel
                  </button>
                  <button class="btn read-btn">Yes, Sure</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- custom js -->
    <script src="assets/js/script.js"></script>

    <!-- upload image js -->
    <script>
      // 1
      new Vue({
        el: "#upload-image",
        data() {
          return {
            preview: null,
            image: null,
          };
        },
        methods: {
          previewImage: function (id) {
            let input = document.getElementById(id);
            if (input.files) {
              let reader = new FileReader();
              reader.onload = (e) => {
                this.preview = e.target.result;
              };
              this.image = input.files[0];
              reader.readAsDataURL(input.files[0]);
            }
          },
          reset: function (id) {
            this.image = null;
            this.preview = null;
            // Clear the input element
            document.getElementById(id).value = "";
          },
        },
      });
      // 2
      new Vue({
        el: "#upload-image1",
        data() {
          return {
            preview: null,
            image: null,
          };
        },
        methods: {
          previewImage: function (id) {
            let input = document.getElementById(id);
            if (input.files) {
              let reader = new FileReader();
              reader.onload = (e) => {
                this.preview = e.target.result;
              };
              this.image = input.files[0];
              reader.readAsDataURL(input.files[0]);
            }
          },
          reset: function (id) {
            this.image = null;
            this.preview = null;
            // Clear the input element
            document.getElementById(id).value = "";
          },
        },
      });
    </script>
  </body>
</html>
